<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SAPSQlContext" connectionString="Sever:30015;UserName=XXXX;Password=XXXX"/>
  </connectionStrings>
  <appSettings>
    <add key="schema" value=""/>
    <add key="LogPath" value="C:\" />
    <add key="ServiceName" value="WSXmlSendToSoap" />
    <add key="ProcessName" value="WSXmlSendToSoapProcess" />
    <add key="SoapUser" value="" />
    <add key="SoapPassword" value="" />
    <add key="XmlPath" value="C:\" />
  </appSettings>
</configuration>