<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SAPSQlContext" connectionString="server=10.0.1.9:30015;userid=B1ADMIN;password=Colombia2021"/>
  </connectionStrings>
  <appSettings>
    <add key="schema" value="FACTURE_TEST"/>
    <add key="LogPath" value="C:\FactureLogs" />
    <add key="XmlPath" value="C:\" />
    <add key="ServiceName" value="WSXmlSendToSoap" />
    <add key="ProcessName" value="WSXmlSendToSoapProcess" />
    <add key="apiUri" value="https://plcolabbeta.azure-api.net" />
    <add key="FactureApiLoginUsername" value="890400284" />
    <add key="FactureApiLoginPassword" value="Abc123$$" />
    <add key="FactureApiXwho" value="9cc880f37eaf4cb49d63c44788605c0a" />
    <add key="FactureApiKey" value="fc8eac422eba16e22ffd8c6f94b3f40a6e38162c" />
  </appSettings>
</configuration>